{% extends 'home.html.twig' %}

{% block title %}myAlbums{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row about align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        EXPLORE
                    </div>
                    <div class="row">
                        <h1>Different way to find music.</h1>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-7">
                    <div class="row">
                        <p>
                            This application is suited for everyone, including starting music artists, music enthusiasts or simply music lovers.
                        </p>
                    </div>
                    <div class="row">
                        <small>
                            All music is easy to access, since it's using Soundcloud API.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row features">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1 align="center"><i class="fas fa-hand-holding-usd fa-3x"></i></h1>
                    <h4 align="center">Donation system</h4>
                    <p style="text-align: center;">Users can donate for your album. You can spend these money on our store, to fancy up your album.</p>
                </div>
                <div class="col">
                    <h1 align="center"><i class="fas fa-award fa-3x"></i></h1>
                    <h4 align="center">Badges</h4>
                    <p style="text-align: center;">
                        We have badges system, which helps to identify what kind of user you are.
                    </p>
                </div>
                <div class="col">
                    <h1 align="center"><i class="fas fa-compact-disc fa-3x"></i></h1>
                    <h4 align="center">Publish your music</h4>
                    <p style="text-align: center;">This website is for artist's who are not known and want to be heard.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row images">
        <div class="col-md-4">
            <img src="{{ asset('/default/music1.jpeg') }}" alt="Music1">
        </div>
        <div class="col-md-4">
            <img src="{{ asset('/default/music5.jpeg') }}" alt="Music1">
        </div>
        <div class="col-md-4">
            <img src="{{ asset('/default/music4.jpg') }}" alt="Music1">
        </div>
    </div>

</div>
{% endblock %}
