{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row" style="color: white;">
        <div class="col-md-6 offset-md-3">
            <h1 align="center">Register</h1>

            {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_row(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.account_type, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <button class="btn btn-primary btn-sm">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
