<div class="wrapper">
    <div class="myNav" style="background-image: url('{{ asset('/default/frontpage.jpg') }}')">

        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">myAlbums<small>.com</small></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}"> Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="myNav-content">
                <div class="row myNav-content-row ">
                    <div class="col-md-6 offset-md-3 myNav-content-column">
                        <h1 align="center">Welcome to myAlbum.<small>com</small></h1>
                        <p align="center">Click link below to see all albums.</p>
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <a href="{{ path('album_index') }}" class="btn btn btn-outline-danger myNav-button"><i class="fas fa-compact-disc"></i> Go to albums</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>