{% for flashMessage in app.session.flashbag.get('donation') %}
    <div class="alert alert-primary">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('song') %}
    <div class="alert alert-primary">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('report') %}
    <div class="alert alert-primary">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('comment') %}
    <div class="alert alert-primary">{{ flashMessage }}</div>
{% endfor %}