<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-album sticky-top">
  <a class="navbar-brand" href="{{ url('album_index') }}">myAlbum.<small>com</small> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url('album_index') }}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if is_granted('ROLE_ADMIN') == false and app.user.getAccountType() == 1 %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url('album_new') }}"><i class="fas fa-plus-circle"></i> Create album</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('store_index') }}"><i class="fas fa-store"></i> Store</a>
            </li>
            {% endif %}

        {%  endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin panel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin_index') }}">All albums</a>
                    <a class="dropdown-item" href="{{ path('admin_reports') }}">Reports</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin_users') }}">Users</a>
                </div>
            </li>
        {% endif %}
    </ul>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_ADMIN') == false %}
                {% if is_granted('ROLE_ARTIST') %}
                    <li>
                        <a class="nav-link" href="{{ url('profile') }}"><i class="fas fa-hand-holding-usd"></i> {{ app.user.getBalance() | price(2) }}</a>
                    </li>
                {% endif %}
                <li>
                    <a class="nav-link" href="{{ url('profile') }}"><i class="fas fa-award"></i> {{ app.user.getBadges().count() }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('profile') }}"><i class="fas fa-address-card"></i> Profile</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="btn btn-primary active" href="{{ url('app_logout') }}">Logout</a>
            </li>
        </ul> 
    {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('app_login') }}" style="margin-left: 2px;">Login</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-primary active" href="{{ url('app_register') }}">Register</a>
            </li>
        </ul> 
    {% endif %}
  </div>
</nav>