<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this comment?');"  style="display: inline; ">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="badge badge-danger delete-badge"><i class="fas fa-trash-alt"></i> Delete this comment</button>
</form>
