*{
    margin: 0;
    padding: 0;
    font-family: Arial;

}

.container{
    margin-top: 2.1rem;
    padding-bottom: 4.1rem;
}

#uppercase-username{
    text-transform: uppercase;
}

.navigation{
    justify-content: center;
    margin-top: 1rem;
}

.album{
    margin-bottom: 1rem !important;
    height: 40vh;

}

.album img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70%;
}

.album h5{
    margin-top: 3px;
    color: black;
}

.album a:hover{
    text-decoration: none;
}

.album-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}

.owner-buttons
{

    padding-top: 7px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.clickable{
    cursor: pointer;
}

.custom-button{

    border: none;

    padding: 10px 6px;
    background: orange;
    color: white;
    font-size: 10px !important;
    text-align: center;
    margin-right: 2px !important;
}

.custom-button a{

    text-decoration: none;
    color: white;
}

.custom-button a:hover{

    color: white;
    text-decoration: none;
}

.custom-button-red{
    background: #396aba;
}

.custom-button-blue{
    background: #4286f4;
}

.custom-button-yellow{
    background: #1d55af;
}

.author{
    padding-top: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.card-img{
    height: 100% !important;
}

ul.user-buttons{
    margin-top: 3px !important;
    list-style-type: none;
}

ul.user-buttons li{
    display: inline !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

ul.user-buttons li form{
    margin-top: 5px !important;
    margin-bottom: 3px !important;
}

.footer{
    padding-top: 3rem;
    width: 100%;
}

.user-buttons-row{
    margin-top: 1rem;
}

.profile-albums{
    width: 100% !important;
    height: 60vh !important;
    background-size: cover !important;
    background-position: center !important;
}

.carousel-caption{
    background: rgba(0,0,0,0.8);
    color: white !important;
}

.row-margin-top{
    margin-top: 1rem;
}

.delete-badge{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none !important;
}
