{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Albums</a></li>
        </ol>
    </nav>
    <h3 align="center" style="color: white;">All albums</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th>Album name</th>
                        <th>Album reports</th>
                        <th>Likes</th>
                        <th>Favourites</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in albums %}
                        <tr>
                            <td><a href="{{ path('album_show', {'id' : album.getId()}) }}">{{ album.getName() }}</a></td>
                            <td>{{ album.getReports().count() }}</td>
                            <td>{{ album.getLikes().count() }}</td>
                            <td>{{ album.getFavourites().count() }}</td>
                            <td>{{ album.getComments().count() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation row">
                {{ knp_pagination_render(albums) }}
            </div>
        </div>
    </div>
{% endblock %}
