{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Albums</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reports</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            {{ include('partials/_messages_admin.html.twig') }}
        </div>
    </div>
    <h3 align="center" style="color: white;">All reports</h3>
    <div class="row">
        <div class="col-md-12">
            {% if reports.count() > 0 %}
                <table class="table table-light table-striped">
                <thead>
                <tr>
                    <th>Album</th>
                    <th>Report</th>
                    <th>Delete this report</th>
                </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                        <td><a href="{{ path('album_show', {'id' : report.getAlbum().getId()}) }}">{{ report.getAlbum().getName() }}</a></td>
                        <td>{{ report.getMessage() }}</td>
                        <td>{{ include('report/_delete_form.html.twig') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-primary">There is no reports.</div>
            {% endif %}

            <div class="navigation row">
                {{ knp_pagination_render(reports) }}
            </div>
        </div>
    </div>
{% endblock %}
