{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Albums</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            {{ include('partials/_messages_admin.html.twig') }}
        </div>
    </div>
    <h3 align="center" style="color: white;">All users</h3>
    <div class="row">
        <div class="col-md-12">
            {% if users.count() > 0 %}
                <table class="table table-light table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Albums</th>
                        <th>Comments</th>
                        <th>Delete this account</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getUsername() }}</td>
                            <td>{{ user.getAlbums().count() }}</td>
                            <td>{{ user.getComments().count() }}</td>
                            <td>{{ include('user/_delete_user.html.twig') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary">There is no users.</div>
            {% endif %}

            <div class="navigation row">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
{% endblock %}
