<form method="post" action="{{ path('song_delete', {'id': song.id, 'album': album.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
