{{ form_start(formSong, {'attr': {'class': 'form-inline'}}) }}

<div class="form-group mb-2">
            {{ form_row(formSong.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
<div class="form-group mx-sm-3 mb-2">
            {{ form_row(formSong.song_url, { 'attr': {'class': 'form-control'} }) }}
        </div>

<button class="btn btn-primary mb-2">{{ button_label|default('Add song') }}</button>
{{ form_end(formSong) }}
<small style="color: black;">Please enter URL from <a href="https://www.soundcloud.com">SoundCloud</a>.</small>
