{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block body %}
    <h1>Song</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ song.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ song.name }}</td>
            </tr>
            <tr>
                <th>Song_url</th>
                <td>{{ song.songUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('song_index') }}">back to list</a>

    <a href="{{ path('song_edit', {'id': song.id}) }}">edit</a>

    {{ include('song/_delete_form.html.twig') }}
{% endblock %}
