*{
    margin: 0;
    padding: 0;
    font-family: Arial;

}

.album-body{
    background: black !important;

}

.container{
    margin-top: 2.1rem;
    padding-bottom: 4.1rem;
}

#uppercase-username{
    text-transform: uppercase;
}

.navigation{
    justify-content: center;
    margin-top: 1rem;
}

.album{
    margin-bottom: 1rem !important;
    height: 45vh;
    background:  #2f3030;

}

.album a h5{
    margin-top: 1rem;
    color: white !important;
}

.album img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.album a:hover{
    text-decoration: none;
}

.album-buttons{
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.owner-buttons
{

    padding-top: 7px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.clickable{
    cursor: pointer;
}

.custom-button{

    border: none;

    padding: 10px 6px;
    background: orange;
    color: white;
    font-size: 10px !important;
    text-align: center;
    margin-right: 2px !important;
    margin-bottom: 2px !important;
}

.custom-button a{

    text-decoration: none;
    color: white;
}

.custom-button a:hover{

    color: white;
    text-decoration: none;
}

.custom-button-red{
    background: #e81304;
}

.author{
    padding-top: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.card-img{
    height: 100% !important;
}

ul.user-buttons{
    margin-top: 3px !important;
    list-style-type: none;
}

ul.user-buttons li{
    display: inline !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

ul.user-buttons li form{
    margin-top: 5px !important;
    margin-bottom: 3px !important;
}

.footer{
    padding-top: 3rem;
    width: 100%;
}

.user-buttons-row{
    margin-top: 1rem;
}

.profile-albums{
    width: 100% !important;
    height: 60vh !important;
    background-size: cover !important;
    background-position: center !important;
}

.carousel-caption{
    background: rgba(0,0,0,0.8);
    color: white !important;
}

.row-margin-top{
    margin-top: 1rem;
}

.delete-badge{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none !important;
}

.disco{
    color: white !important;
    position: absolute;
    top: 3px;
    right: 19px;
}

.golden{
    color: #ffc416 !important;
    position: absolute;
    top: 3px;
    right: 19px;
}

.wrapper{
    height: 100%;
    width: 100%;
    background: black;
    color: white;
}

.myNav{
    padding: 0;
    margin: 0;
    height: 100vh;
}


.myNav .navbar .container{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.myNav .navbar{

    background-color: transparent !important;
}

.navbar-album{
    background-color: rgba(38, 39, 40,0.9) !important;
}

.myNav .navbar .navbar-brand{
    color: #fff !important;
    font-weight: bolder !important;
    font-size: 1.3em !important;
}

.left{
    margin-left: auto  !important;
    margin-right: auto  !important;
}

.myNav .navbar .nav-item a{
    color: #fff !important;
}

.myNav .navbar .dropdown-menu {
    background-color: rgba(0,0,0,0.3) !important;
}

.myNav .dropdown-item:hover{
    background-color: rgba(0,0,0,0.3);
}


.myNav .myNav-content{
    margin-top: 20rem;
}

.myNav .myNav-content-column{

    padding: 10px 10px 10px 10px !important;
}

.myNav-button{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.myNav-button:hover{
    background-color: red !important;
    border-color: red !important;
}

.about{
    height: 40vh !important;
    padding: 1rem 1rem 1rem 1rem !important;
}

.features{
    color: white !important;
    background: rgba(17, 17, 17,0.5) !important;
    height: 50vh !important;

}

.images{
    min-height: 50vh !important;
}

.images .col-md-4{
    padding: 0 !important;
    margin: 0 !important;
}

.images .col-md-4 img{
    padding: 0 !important;
    margin: 0 !important;
    height: 50vh;
    width: 100%;
}

.container-fluid{
    width: 100% !important;
}

.new-album{
    background: rgba(17,17,17,0.2);
    color: white;
}

.user-profile{
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 700px;
    background: #202121;
}

.user-image{
    padding-left: 0 !important;
    margin-left: 0 !important;
    text-align: center;
    margin-top: 1rem;
    color: white !important;
}

.user-h5{
    padding-left: 0 !important;
    margin-left: 0 !important;
    color: white !important;
    text-align: center;
    margin-top: 1rem;
    font-family: sans-serif;
}

.usermenu{
    width: 100%;

}
.usermenu ul{
    list-style: none;

}

.usermenu ul li{
    list-style: none;

    line-height: 3rem;
    border-left: 5px solid grey;
}

.usermenu ul li a{
    padding-left: 10px;
    text-decoration: none !important;
    display: block;
    color: white !important;
    background-color: #2f3030;
    letter-spacing: 1px;

}
.usermenu ul li:hover{
    transition: 1s;
    border-left: 5px solid red;
}

.userbadges ul{
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
}

.userbadges ul li{
    display: inline;
}


.user-activity{
    height: 700px;
    background: #2f3030;
}

.activity{
    background-color: #202121;
    height: 90px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 2px;
    margin-top: 1rem;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
}

.information{
    background-color: #202121;
    height: 700px;
}

.tip{
    margin-top: 1rem;
    color: white !important;
    height: 300px;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #2f3030;
}



@media only screen and (max-width: 971px) {
    .myNav .navbar{
        transition: 1s;
        background-color: rgba(0,0,0,0.5) !important;
    }

    .images{
        min-height: 150vh;
    }

    .container{
        margin-top: 0 !important;
    }

    .user-profile{
        height: 500px;
        max-height: 500px;
    }

    .user-activity{
        height: 400px;
        overflow-y: scroll;
    }
}