{{ form_start(formComment, {'attr': {'class': ''}}) }}

<div class="form-group mb-2">
    {{ form_row(formComment.comment, { 'attr': {'class': 'form-control'} }) }}
</div>


<button class="btn btn-danger mb-2">{{ button_label|default('Comment') }}</button>
{{ form_end(formComment) }}

