


<div class="modal fade" id="donate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Donate for this album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formDonation) }}
                <div class="form-group">
                    {{ form_row(formDonation.money, { 'attr': {'class': 'form-control'} }) }}

                    <small>Money in cents. Lowest donation 50 cents.</small>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cardnumber">Card number:</label>
                        {{ form_row(formDonation.card_num, { 'attr': {'class': 'card-number', 'value': '4000056655665556', 'size' : 16, 'id': 'cardnumber'} }) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cvc">CVC:</label>
                        {{ form_row(formDonation.cvc, { 'attr': {'class': 'card-cvc', 'size' : 3, 'id': 'cvc' } }) }}
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cardexpiremonth">Card expire month:</label>
                        {{ form_row(formDonation.exp_month, {'attr': {'class': 'card-expiry-month', 'size' : 4, 'id': 'cardexpiremonth'} }) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cardexpiryyear">Card expire year:</label>
                        {{ form_row(formDonation.exp_year, {'attr': {'class': 'card-expiry-year', 'size' : 4, 'id': 'cardexpiryyear'} }) }}
                    </div>
                </div>



                <div class="form-group">
                    {{ form_row(formDonation.stripeToken, {'id' : 'stripeToken', 'attr': {'class': ''}}) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="payBtn">Donate</button>
                {{ form_end(formDonation) }}
            </div>
        </div>
    </div>
</div>