
{{ form_start(form) }}
<!-- form_widget(form)  -->
<div class="form-group">
    {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_row(form.text_about, { 'attr': {'class': 'form-control'} }) }}
</div>
<button class="btn btn-primary btn-sm"><i class="far fa-edit"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
