{{ form_start(form) }}
    <!-- form_widget(form)  -->
    <div class="form-group">
        {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.imageFile, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.text_about, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <button class="btn btn-danger btn-sm">{{ button_label|default('Save') }}</button>
<a class="btn btn-primary btn-sm" href="{{ path('album_index') }}"><i class="fas fa-caret-left"></i> Back to all albums</a>
{{ form_end(form) }}
