{% extends 'base.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
    <h1 align="center" style="color: white;">Edit Album</h1>
    <div class="col-md-6 offset-md-3" style="color: white;">

    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') == false %}
        {% if is_granted('ROLE_ADMIN') == false and app.user.isOwner(album, app.user) %}


            {{ include('album/_edit_form.html.twig', {'button_label': 'Update'}) }}



        {% endif %}
    {% endif %}
        <ul class="user-buttons" style="margin-top: 1rem;">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ADMIN') or app.user.isOwner(album, app.user) %}
                    <li>{{ include('album/_delete_form.html.twig') }}</li>
                {% endif %}
            {% endif %}
            <li><a class="btn btn-primary btn-sm" href="{{ path('album_index') }}"><i class="fas fa-caret-left"></i> Back to all albums</a></li>
        </ul>
    </div>
{% endblock %}


