{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}


    <div class="row ">

        {% if albums.count() < 1 %}
            <div class="col-md-12">
                <div class="alert alert-primary">There is no albums created.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}
        {% for album in albums %}
            <div class="col-md-6">
                    <div class="album">
                    {% if (is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')) or (is_granted('IS_AUTHENTICATED_FULLY') and app.user.getAccountType() == 1 and app.user.isOwner(album)) %}
                        <div class="owner-buttons" style="position: absolute; top: 0; left: 24px;">
                            {{ include('album/_deletebadge_form.html.twig') }}
                        </div>
                    {% endif %}
                        {% if album.getGoldenlogo() == 1 %}
                            <span class="disco golden"><i class="fab fa-soundcloud fa-2x"></i></span>
                        {% else %}
                            <span class="disco"><i class="fab fa-soundcloud fa-2x"></i></span>
                        {% endif %}

                <a href="{{ path('album_show', {'id': album.id}) }}"><img src="{{ vich_uploader_asset(album, 'imageFile')  }}" alt="{{ album.name }}"></a>
                <a href="{{ path('album_show', {'id': album.id}) }}"><h5 align="center">{{ album.name }}</h5></a>
                <div class="album-buttons">
                    <div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') == false %}


                            {% if app.user.isFavourited(album, app.user) %}
                                <span class="custom-button custom-button-red clickable" id="favourite{{ album.id }}" data-status="1" data-add="{{ path('album_favourite', {'id': album.id}) }}" data-remove="{{ path('album_remove_favourite', {'id': album.id}) }}" onclick="Favorite({{ album.id }})"><i class="fas fa-heart"></i> Remove from Favourites</span>
                            {% else %}
                                {% if app.user.isOwner(album, app.user) %}

                                {% else %}
                                    <span class="custom-button custom-button-red clickable" id="favourite{{ album.id }}" data-status="0" data-add="{{ path('album_favourite', {'id': album.id}) }}" data-remove="{{ path('album_remove_favourite', {'id': album.id}) }}" onclick="Favorite({{ album.id }})"><i class="fas fa-heart"></i> Add to Favourites</span>
                                {% endif %}
                            {% endif %}

                            {% if app.user.isLiked(album, app.user) %}
                                <span class="custom-button custom-button-red clickable" data-status="1" data-like="{{ path('album_like', {'id': album.id}) }}" data-unlike="{{ path('album_unlike', {'id': album.id}) }}" data-likes="{{ album.getLikes().count() }}" id="like{{ album.id }}" onclick="Like({{ album.id }})"><i class="fas fa-thumbs-up"></i> {{ album.getLikes().count() }} Click to unlike</span>
                            {% else %}
                                {% if app.user.isOwner(album, app.user) %}
                                    <span class="custom-button custom-button-red" ><i class="fas fa-thumbs-up"></i> {{ album.getLikes().count() }}</span>
                                {% else %}
                                    <span class="custom-button custom-button-red clickable" data-status="0" data-like="{{ path('album_like', {'id': album.id}) }}" data-unlike="{{ path('album_unlike', {'id': album.id}) }}" data-likes="{{ album.getLikes().count() }}" id="like{{ album.id }}" onclick="Like({{ album.id }})"><i class="fas fa-thumbs-up"></i> {{ album.getLikes().count() }} Liked</span>
                                {% endif %}
                            {% endif %}

                            {% if app.user.isOwner(album, app.user) %}
                                <a href="{{ path('public_profile', {'id': album.getUser().getId()}) }}"><span class="custom-button custom-button-red clickable">Author: {{ album.getUser().getUsername() }}</span></a>
                            {% endif %}
                    {% endif %}

                    <a href="{{ path('album_show', {'id': album.id}) }}"><span class="custom-button custom-button-red"><i class="fas fa-headphones-alt"></i> View album</span></a>
                        <a href="{{ path('album_show', {'id': album.id}) }}"><span class="custom-button custom-button-red"><i class="fas fa-comments"></i> {{ album.getComments.count() }}</span></a>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}

    </div>


        <div class="navigation row">
            {{ knp_pagination_render(albums) }}
        </div>




{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('indexAlbum') }}
{% endblock %}
