{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3 new-album">
    <h1 align="center">Create new Album</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.getAccountType() == 1 %}

            {{ include('album/_form.html.twig') }}

        {% endif %}
    {% endif %}




        </div>
    </div>
{% endblock %}
