{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            {{ include('partials/_messages.html.twig') }}

        </div>
    </div>

    <div class="container" style="background: rgba(255,255,255,1); padding: 1rem 1rem 1rem 1rem;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img class="card-img" src="{{ vich_uploader_asset(album, 'imageFile')  }}" alt="{{ album.name }}" style="height: 40vh !important;" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h5 align="center" style="margin-top: 2rem; ">{{ album.getName() }}</h5>
                <p style="text-align: center;">
                <i class="fas fa-thumbs-up" style="color: blue;" ></i> {{ album.getLikes().count() }}

                <i class="fas fa-heart" style="color: red;"></i> {{ album.getFavourites().count() }}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') or app.user.isOwner(album, app.user) %}
                        <i class="far fa-flag"></i> Reported {{ album.getReports().count() }} time(-s)
                    {% endif %}
                {% endif %}
                    <br>
                    <small class="text-muted"><a href="{{ path('public_profile', {'id': album.getUser().getId()}) }}">Made by {{ album.getUser().getUsername() }}</a></small>
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if album.getSongs.count() > 0 %}
                    <table class="table table-light table-striped" style="">
                        <thead>
                        <th style="text-align: center;">Song name</th>
                        <th style="text-align: center;">Play song</th>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_ADMIN') or app.user.isOwner(album, app.user) %}
                                <th style="text-align: center;">Actions</th>
                            {% endif %}
                        {% endif %}

                        </thead>
                        <tbody>
                        {% for song in album.getSongs() %}
                            <tr>
                                <td style="text-align: center;">{{ song.getName() }}</td>
                                <td>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                                                src="https://w.soundcloud.com/player/?url={{ song.getSongUrl() }}&amp;">
                                        </iframe>
                                    {% else %}
                                        <div class="alert alert-warning">
                                            You need to log in to listen this song.
                                        </div>
                                    {% endif %}
                                </td>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {% if is_granted('ROLE_ADMIN') or app.user.isOwner(album, app.user) %}
                                        <td style="text-align: center;">{{ include('song/_delete_form.html.twig') }}</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                {%  else %}
                    <div class="alert alert-primary">Currently album is empty.</div>
                {% endif %}
            </div>
        </div>



        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') == false %}
            {% if app.user.isOwner(album, app.user) %}
                <div class="row" style="color: white !important;">
                    <div class="col-md-12">
                        <h6>Add new song:</h6>
                        {{ include('song/_form.html.twig') }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="row user-buttons-row" style="margin-bottom: 3rem; ">
            <div class="col-md-12">

                <ul class="user-buttons">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_ADMIN') or app.user.isOwner(album, app.user) %}
                            <li><a class="btn btn-secondary btn-sm" href="{{ path('album_edit', {'id': album.id}) }}"><i class="far fa-edit"></i> Edit this album</a></li>
                            <li style="padding-top: 3px;">{{ include('album/_delete_form.html.twig') }}</li>
                        {% endif %}
                    {% endif %}
                    <li><a class="btn btn-primary btn-sm" href="{{ path('album_index') }}"><i class="fas fa-caret-left"></i> Back to all albums</a></li>
                    {% if is_granted('ROLE_ADMIN') == false and is_granted('IS_AUTHENTICATED_FULLY') and app.user.isOwner(album, app.user) == false %}
                        <li><a class="btn btn-warning btn-sm" href="#" data-toggle="modal" data-target="#report">Report</a></li>
                        <li><a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#donate">Donate</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>




        <h6 align="center" style="">Leave comment:</h6>
        <div class="row">

            <div class="col-md-12">
                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') == false %}

                    {{ include('album/_comment_form.html.twig') }}

                {% elseif is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') == true %}
                    <div class="alert alert-warning">You have admin role, so you can delete all comments.</div>
                {% else %}
                    <div class="alert alert-warning">You need to log in to comment.</div>
                {% endif %}
            </div>
        </div>

        <h6 align="center" style="">All comments</h6>
        <div class="row">
            <div class="col-md-12">
                {% if comments.count() > 0 %}
                    {% for comment in comments %}
                        <div class="alert alert-secondary" role="alert">

                            {% if is_granted('ROLE_ADMIN') %}

                                {{ include('comment/_delete_form.html.twig') }}

                            {% endif %}
                            {{ comment.getComment() }}<br>

                            <small><i><a href="{{ path('public_profile', {'id': album.getUser().getId()}) }}">{{ comment.getUser().getUsername() }}</a></i> <span class="badge badge-primary"><i class="fas fa-award"></i> {{ comment.getUser().getBadges().count() }}</span></small>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="alert alert-primary">
                        There is no comments on this album.
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="navigation row">
            {{ knp_pagination_render(comments) }}
        </div>











    </div>



    <!-- Modal -->
    {% if is_granted('ROLE_ADMIN') == false and is_granted('IS_AUTHENTICATED_FULLY') %}

        {{ include('album/_donation_modal.html.twig') }}
        {{ include('report/_modal_report.html.twig') }}

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!-- SoundCloud api -->
    <script src="https://w.soundcloud.com/player/api.js"></script>
    {{ encore_entry_script_tags('showAlbum') }}
{% endblock %}
