{% extends 'base.html.twig' %}

{% block title %}Add songs to album{% endblock %}

{% block body %}
    <h1>{{ album.name }}</h1>

    {{  include('song/_form.html.twig') }}

    <a href="{{ path('profile') }}">back to profile</a>

{% endblock %}
