<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('indexAlbum') }}
        {% endblock %}
    </head>
    <body class="album-body">
        {{ include('partials/_navbar.html.twig') }}

        <div class="container ">

            {% block body %}{% endblock %}


            <div class="row">

                <div class="col-md-6 offset-md-4">
                    <div class="footer" style="width: 100%; color: white;">Copyrights &copy; 2019 Mediapark, Gabrielius Salichovas</div>
                </div>
            </div>
        </div>



        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
