{{ form_start(formGold, {'attr': {'class': ''}}) }}

<div class="form-group mb-2">
    {{ form_row(formGold.album2, { 'attr': {'class': 'form-control'} }) }}
</div>


<button class="btn btn-secondary mb-2">{{ button_label|default('Buy') }}</button>
{{ form_end(formGold) }}

