{{ form_start(formRating, {'attr': {'class': ''}}) }}

<div class="form-group mb-2">
    {{ form_row(formRating.album, { 'attr': {'class': 'form-control'} }) }}
</div>


<button class="btn btn-secondary mb-2">{{ button_label|default('Buy') }}</button>
{{ form_end(formRating) }}

