{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('store') %}
                <div class="alert alert-primary">{{ flashMessage }}</div>
            {% endfor %}


        </div>
    </div>





    <div class="row">
        <div class="card-group">
            <div class="card">
                <img src="{{ asset('/default/store.jpeg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rise your album rating!</h5>
                    <p class="card-text">
                        Increase your album rating by 10%. This will make your album higher in album order.</p>
                        {% if app.user.getAlbums().count() > 0 %}
                            {{ include('store/_rating_form.html.twig') }}
                        {% else %}
                            <div class="alert alert-primary">You don't have any albums.</div>
                        {% endif %}

                    </p>
                    <p class="card-text"><small class="text-muted">Price: {{ 350 | price(2) }}.</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{{ asset('/default/store.jpeg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gold SoundCloud logo</h5>
                    <p class="card-text">Want to be exclusive? Buy this golden soundcloud logo for your album.</p>
                        {% if app.user.getAlbums().count() > 0 %}
                            {{ include('store/_gold_form.html.twig') }}
                        {% else %}
                            <div class="alert alert-primary">You don't have any albums.</div>
                        {% endif %}
                    <p class="card-text"><small class="text-muted">Price: {{ 150 | price(2) }}</small></p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
