<form method="post" action="{{ path('admin_user_delete', {'id': user.getId()}) }}" onsubmit="return confirm('Are you sure you want to delete this user?');"  style="display: inline; ">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.getId()) }}">
    <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete this user</button>
</form>
