{% extends 'base.html.twig' %}

{% block title %}
    {{ app.user.getUsername() }} albums
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('profile') }}">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Albums</li>
        </ol>
    </nav>
    <h1 align="center" style="color: white;">Your albums</h1>
    <div class="row">
        <div class="col-md-12">
            {% if app.user.getAlbums().count() > 0 %}
                <table class="table table-light table-striped">
                    <thead>
                    <tr>
                        <th>Album</th>
                        <th>Likes</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for album in app.user.getAlbums() %}
                        <tr>
                            <td><a href="{{ path('album_show', {'id': album.getId()}) }}">{{ album.getName() }}</a></td>
                            <td>{{ album.getLikes().count() }}</td>
                            <td>{{ album.getComments().count() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary">
                    You don't have any albums.
                </div>
            {% endif %}


        </div>
    </div>


{% endblock %}
