{% extends 'base.html.twig' %}

{% block title %}
    {{ app.user.getUsername() }} favourites
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('profile') }}">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Favorites</li>
        </ol>
    </nav>
    <h1 align="center" style="color: white;">Your favorited albums</h1>
    <div class="row">
        <div class="col-md-12">
            {% if favourites.count() > 0 %}
            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th>Album</th>
                        <th>Likes</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fav in favourites %}
                        <tr>
                            <td><a href="{{ path('album_show', {'id': fav.getAlbum().getId()}) }}">{{ fav.getAlbum().getName() }}</a></td>
                            <td>{{ fav.getAlbum().getLikes().count() }}</td>
                            <td>{{ fav.getAlbum().getComments().count() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-primary">
                    You don't have any favorited albums.
                </div>
            {% endif %}


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="navigation row">
                {{ knp_pagination_render(favourites) }}
            </div>
        </div>
    </div>
{% endblock %}
