{% extends 'base.html.twig' %}

{% block title %}
    {{ user.getUsername() }} profile
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-4 user-profile">
            <div class="user-image">
                <i align="center" class="fas fa-user-circle fa-5x"></i>
            </div>
            <div class="userdata">
                <h5 class="user-h5">{{ user.getUsername() }}</h5>
            </div>
            <div class="usermenu">
                <ul>
                    <li><a href="">Favorites ({{ user.getFavourites().count() }})</a></li>
                    {% if user.getAccountType() == 1 %}
                    <li><a href="#">Albums ({{ user.getAlbums().count }})</a></li>
                    <li><a href="{{ path('store_index') }}">Balance: {{ user.getBalance()|price(2) }}</a></li>
                    {% endif %}
                    <li><a href="#">Donations: {{ user.getDonations().count() }}</a></li>
                </ul>
            </div>
            <div class="userbadges">
                <h5 class="user-h5">User Badges ({{ user.getBadges().count() }})</h5>
                <ul>
                    {% for badge in user.getBadges() %}
                        <li><div class="badge badge-danger"><i class="fas fa-award"></i> {{ badge.getName() }}</div></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-4 user-activity">
            <h5 class="user-h5">Recent activity</h5>
            {% for activity in activities %}
                <div class="activity">
                    <p>{{ activity.getAction() }}</p>
                    <small>{{ activity.getTime()|date }}</small>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-4 information">
            <h5 class="user-h5">Tips</h5>
            <div class="tip">
                <h5 class="user-h5">Store</h5>
                <p>All the money received from donations can be spend in our store. There you can increase your album rating or add a golden soundcloud icon.</p>
            </div>
            <div class="tip">
                <h5 class="user-h5">Badges system</h5>
                <p>Badges can be gained from many activities in our app.</p>
            </div>

        </div>
    </div>




{% endblock %}
