<form method="post" action="{{ path('admin_report_delete', {'id': report.id}) }}" onsubmit="return confirm('Are you sure you want to delete this comment?');"  style="display: inline; ">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ report.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete this report</button>
</form>
