


<div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Report this album</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formReport) }}
                <!-- form_widget(form)  -->
                <div class="form-group">
                    {{ form_row(formReport.message, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <small>Describe what's wrong with this album.</small>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-warning">Report</button>
                {{ form_end(formReport) }}
            </div>
        </div>
    </div>
</div>